@import "/src/App/App.scss";

.add-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  user-select: none;
  z-index: 1;

  button {
    border: none;
    outline: none;
    background-color: transparent;

    .add-btn-icon {
      width: 45px;
      height: 45px;
      color: $primary-color;
      cursor: pointer;
    }
  }
}

@media (hover: hover) {
  .add-btn-icon {
    transform: rotate(0);
    transition: 0.3s ease;
    &:hover {
      transform: rotate(135deg);
      zoom: 1.1;
    }
  }
}
