@import "/src/App/App.scss";

li {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: auto;
  border-radius: 18px;
  flex-shrink: 0;
  min-height: 65px;
  max-height: max-content;
  padding: 10px 0;
  background-color: $primary-color-transparent;
  list-style: none;
  align-content: center;

  .text-container {
    height: 100%;
    overflow-y: hidden;
    p {
      text-align: left;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5; // Adjust the number of lines as needed
      -webkit-box-orient: vertical;
    }
  }

  button {
    width: fit-content;
    height: fit-content;
    margin: auto;
    background-color: transparent;
    border: none;
    color: $primary-color;
    cursor: pointer;

    .complete-btn-icon {
      width: 20px;
      height: 20px;
    }
    .delete-btn-icon {
      width: 24px;
      height: 24px;
    }
  }
}

.completed {
  background-color: $primary-color;
  text-decoration: line-through;
  button {
    color: $tertiary-color;
  }
}
