@import "/src/App/App.scss";

.todo-counter {
  display: flex;
  flex-direction: column;
  font-size: 28rem;
  justify-content: center;
}
h1 {
  font-size: 28rem;
  font-weight: 700;
  color: $primary-color;
  background: linear-gradient(120deg, $primary-color, #8a49ca);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
