$text-primary-color: #ffffff;
$background-color: #121212;
$primary-color: #c84646;
$primary-color-transparent: rgb(200, 70, 70, 0.3);
$secondary-color: #2d1a1a;
$tertiary-color: #64b464;
$paragraph-size: 16rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 6.25%;
  background-color: #121212;
}

body {
  font-size: $paragraph-size;
  font-family: Poppins;
  line-height: 1.5;
  color: $text-primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  min-width: 320px;
  width: 430px;
  height: 932px;
  padding: 42px;
  border: solid #ffffff;
  border-radius: 10px;
  display: grid;
  justify-items: center;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 10fr 1fr;
}
