@import 'App';

li {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr;
  border-radius: 18px;
  height: 75px;
  background-color: $primary-color-transparent;
  list-style: none;
  align-items: center;
  text-align: center;
}