@import 'App';

.add-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  
  button {
    border: none;
    outline: none;
    background-color: transparent;
  
    .add-btn {
      width: 55px;
      height: 55px;
      color: $primary-color;
      cursor: pointer;
    }
  }
}