@import "../common/_variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 6.25%;
  background-color: $background-color;
}

body {
  font-size: $paragraph-size;
  font-family: Poppins;
  line-height: 1.5;
  color: $text-primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100vw;
  min-width: 320px;
  max-width: 425px;
  height: 100dvh;
  min-height: 600px;
  max-height: 800px;
  padding: 15px 30px;
  border: solid 1px $primary-color-transparent;
  border-radius: 10px;
  display: grid;
  justify-items: center;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr 10fr 47px;
  gap: 25px;
}
