$text-primary-color: #ffffff;
$background-color: #121212;
$primary-color: #c84646;
$secondary-color: #2d1a1a;
$tertiary-color: #64b464;
$font-stack: "IBM Plex Sans", sans-serif;
$paragraph-size: 14rem;
$max-width: 1440px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}

html {
  font-size: 6.25%;
}

body {
  font-size: $paragraph-size;
  font-family: $font-stack;
  line-height: 1.5;
  color: $text-primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root {
  background-color: #121212;
  max-width: $max-width;
  padding-top: 100px;
  min-width: 430px;
  min-height: 932px;
  border-radius: 10px;
}
